
.article-footer, .article-meta, .article-title {
    padding: var(--base-size-0) var(--base-size-5);
    }
    .article-text {
    margin: var(--base-size-6) var(--base-size-0);
    padding: 0 var(--base-size-5);
    font-size: 15px;
    }