.chip {
      height: 32px;
      font-size: 13px;
      color: var(--white-800);
      line-height: 31px;
      padding: 0 12px;
      border-radius: 16px;
      background-color: var(--dark-bg-default,var(--light-bg-default));
      margin-right: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    user-select: none
  }
  .chip>img {
      float: left;
      margin: 0 8px 0 -12px;
      height: 31px;
      width: 31px;
      border-radius: 50%;
  }

  .chip.dark{
      background-color: var(--dark-bg-dark,var(--light-bg-dark));
         color: var(--white-800)
  }
  
  .chip.success{
    background-color: var(--dark-bg-success,var(--light-bg-success));
         color: var(--white-800)
  }
  
  .chip.error {
    background-color: var(--dark-bg-error,var(--light-bg-error));
         color: var(--white-800)
  }
  
  .chip.warning{
    background-color: var(--dark-bg-warning,var(--light-bg-warning));
         color: var(--white-800)
  }
  .chip.primary{
    background-color: var(--dark-bg-primary,var(--light-bg-primary));
         color: var(--white-800)
  }

  .chip.secondary{
    background-color: var(--dark-bg-secondary,var(--light-bg-secondary));
         color: var(--white-800)
  }
  
  
  .chip.info{
    background-color: var(--dark-bg-info,var(--light-bg-info));
      color: var(--white-800)
  }
  