footer ul {
    list-style: none
}

.footer {
      color: #fff;
      background-color: var(--primary-color);
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  .footer.bg-light-gray *,.footer.bg-secondary *,.footer.bg-warning * {
      color: var(--primary-color)!important
  }
  
  .footer-copyright {
      overflow: hidden;
      color: rgba(255,255,255,.8);
      background-color: rgba(255,255,255,.08)
  }