
.pagination {
    list-style: none
}

.pagination {
      display: flex;
      padding-left: 0;
      -moz-user-select: none;
-ms-user-select: none;
user-select: none;
list-style: none
  }
  
  .page-link {
      position: relative;
      display: block;
      border: 1px solid var(--as-border);
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      padding: .375rem .75rem
  }
  

  

  
  @media (prefers-reduced-motion:reduce) {
      .page-link {
          transition: none
      }
}
  
  .page-link:hover {
      z-index: 2;
      color: #034468;
      background-color: #e9ecef;
      border-color: #dee2e6
  }
  
  .page-link:focus {
      z-index: 3;
      color: var(--primary-color);
      background-color: #e9ecef;
      outline: 0;
      box-shadow: 0 0 0 .25rem rgba(0,48,73,.25)
  }
  
  .page-item:not(:first-child) .page-link {
      margin-left: -1px
  }
  
  .page-item.active .page-link {
      z-index: 3;
      border-color: var(--primary-color)
  }
  
  .page-item.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      background-color: var(--mode-bg);
      border-color: var(--as-border)
  }
  
  .page-item:first-child .page-link {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem
  }
  
  .page-item:last-child .page-link {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem
  }
  

  .page-item.active .page-link {
      z-index: 3;
      border-color: var(--dark-border-primary,var(--light-border-primary));
  }
  
  .page-item:not(:first-child) .page-link {
      margin-left: -1px;
  }
 .page-item.active .page-link{
      color: var(--white);
      background-color: var(--dark-bg-primary,var(--light-bg-primary));
  }