.tag.dark {
      background-color:#363636;
      color: var(--white);
  }
  .tag.success {
      background-color: var(--dark-bg-success,var(--light-bg-success));
      color: var(--white);
  }
  .tag.error {
      background-color: var(--dark-bg-error,var(--light-bg-error));
      color: var(--white);
  }
  .tag.warning {
      background-color: var(--dark-bg-warning,var(--light-bg-warning));
      color: var(--white);
  }
  .tag.info {
      background-color: var(--dark-bg-info,var(--light-bg-info));
      color: var(--white);
  }
  .tag.gray {
      background-color: var(--dark-bg-default,var(--light-bg-default));
      color: var(--white);
  }
  .tag.primary{
      color: var(--white);
      background-color: var(--primary-color);
  }
  .tag {
      padding: 8px;
      margin: 0;
      font-size: .85rem;
      line-height: 5px;
      display: inline-block;
      font-weight: 600;
      color: var(--as-tag-color);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      background-color: var(--white-000,var(--white-900));
      border-radius: 6px;
      -moz-user-select: none;
-ms-user-select: none;
user-select: none;
  }

 .tags:last-child {
      margin-bottom: -.5rem;
  }
 .tag-group, .tags {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }

  .tag-group.has-addons .tag:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  
  .tag-group.has-addons .tag {
      margin-right: 0;
  }
  .tag-group.has-addons .tag:not(:first-child) {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  .tag-group.has-addons .tag {
      margin-right: 0;
  }

  .list-tag-addons {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
  }
  .list-tag-addons .tag-group {
      margin-right: .5rem;
      margin-bottom: .5rem;
  }
  .tags .tag {
      margin-bottom: .5rem;
  }
  .tags .tag:not(:last-child) {
      margin-right: .5rem;
  }